<div class="panel panel-primary login">
  <div class="panel-heading">
    <h4>User Profile</h4>
  </div>
  <br>
  <div class="panel-body">
  <%= simple_form_for @user, url: profile_path, html: { class: "form-inline profile", role: "form" }, defaults: { error: false, required: false, input_html: {class: "form-control"} } do |f| %>
    <%= f.input :username, disabled: true, input_html: { value: @user.username } %>
    <%= f.input :email, input_html: { value: @user.email } %>
    <%= f.input :first_name, input_html: { value: @user.first_name } %>
    <%= f.input :last_name, input_html: { value: @user.last_name } %>
    <br>
    <% if @user && @user.errors.any? %>
      <div class="alert alert-danger">
        <% @user.errors.full_messages.each_with_index do |msg, index| %>
          <p><%= index+1 %>. <%= msg %>.<p> 
        <% end %>
      </div>
      <br>
    <% end %>
    <%= f.button :submit, "Submit your changes", class: 'btn btn-primary' %>
  <% end %>
  </div><br>
</div>