<% content_for :navbar_link do %>
  <%= link_to "Sign up", root_path, class: "btn btn-default navbar-btn"%>
<% end %>
<h1 class="form-signin-heading text-muted">Welcome to Basic Camp!</h1>
<h2 class="form-signin-heading text-muted">Your open-source Project Management tool</h2>
<div class="panel panel-primary login">
  <div class="panel-heading">
    <h4>Log into Basic Camp</h4>
  </div>
  <br>
  <div class="panel-body">
    <%= form_tag sessions_path do %>

      <%= label_tag "Username" %><br>
      <%= text_field_tag :username, nil, class: "form-control", placeholder: "Username" %>

      <%= label_tag "Password" %><br>
      <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password" %>

      <br>

      <% if @user && @user.errors.any? %>
        <div class="alert alert-danger">
          <% @user.errors.full_messages.each_with_index do |msg, index| %>
            <p><%= index+1 %>. <%= msg %>.<p> 
          <% end %>
        </div>
        <br>
      <% end %>

      <%= submit_tag "Log In", class: "btn btn-primary" %>
    <% end %>    
  </div><br>
</div>