<div class="container discussion">
  <div class="row">
    <div class="well">
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag user_image_thumb_url(User.find(discussion.user_id)) %>
        </div>
        <div class="col-xs-10">
          <p class="subject"><%= discussion.subject %></p>
          <p class="author">By: <%= author_name(discussion) %> on <%= pretty_date(discussion.created_at) %></p>
          <p><%= discussion.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>