<% content_for :discussions, "active" %>
<%= link_to "Back to main discussion page", project_path(@project) %>
<br><br>

<div class="row">

  <div class="side-menu col-xs-3">
    <%= render "/layouts/side_menu" %>
  </div>
  <div class="content col-xs-9">
    <% if @discussions %>
      <% @discussions.each do |discussion| %>
        <%= link_to discussion.subject, project_discussion_path(@project, discussion.id) %>
        <%= discussion.content %>
        <%= link_to "Edit this discussion", edit_project_discussion_path(@project, discussion.id) %>
        <br>
      <% end %>
    <% end %>
  </div>
</div>

<br>
<%= link_to "Add a new disucssion", new_project_discussion_path(@project) %>