<% content_for :navbar_link do %>
  <%= link_to "Sign In", sessions_path, class: "btn btn-default navbar-btn"%>
<% end %>

<h1 class="form-signin-heading text-muted">Welcome to Basic Camp!</h1>
<h2 class="form-signin-heading text-muted">Your open-source Project Management tool</h2>
<div class="panel panel-primary registration">
  <div class="panel-heading">
    <h4>Sign Up</h4>
  </div>
  <br>
  <div class="panel-body">
    <%= simple_form_for @user, html: { class: "form-inline", role: "form" }, defaults: { label: false, error: false, input_html: {class: "form-control"} } do |f| %>
      <%= f.input :username, placeholder: "Username" %>
      <%= f.input :email, placeholder: "Email" %>

      <%= f.input :first_name, placeholder: "Firstname" %>
      <%= f.input :last_name, placeholder: "Lastname" %>

      <%= f.input :password, placeholder: "Password" %>
      <%= f.input :password_confirmation, placeholder: "Password Confirmation" %>

      <br><br>

      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <% @user.errors.full_messages.each_with_index do |msg, index| %>
            <p><%= index+1 %>. <%= msg %>.<p> 
          <% end %>
        </div>
        <br>
      <% end %>

      <%= f.button :submit, "Get Started", class: 'btn btn-primary' %>
    <% end %>    
  </div><br>
</div>