<% content_for :home, "active" %>
<%= link_to "Back to all projects", projects_path %>
<br><br>
<div class="row">

  <div class="side-menu col-xs-3">
    <%= render "/layouts/side_menu" %>
  </div>
  <div class="content col-xs-9">
    <div>
      <%= @project.name %><br>
      <%= @project.description %>
    </div>
  </div>
  
</div>

<br>
<%= link_to "Edit this project", [:edit, @project] %>

