<% content_for :files, "active" %>
<%= link_to "Back to main project page", project_path(@project) %>
<br><br>

<div class="row">

  <div class="side-menu col-xs-3">
    <%= render "/layouts/side_menu" %>
  </div>
  <div class="content col-xs-9">
    <div class="assets">
      <div class="row">
        <% if @assets %>
          <% @assets.each do |asset| %>  
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
              <div class="thumbnail">
                <%= image_tag "file.png" %>
                <p class="title"><%= file_name(asset) %>                <%= link_to project_asset_path(@project, asset), method: :delete, class: "delete-btn", confirm: "Are you sure?" do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </p>
                <p class="download-btn"><%= link_to "Download", project_asset_path(@project, asset), class: "btn btn-primary btn-lg btn-block" %></p>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail">
            <%= link_to new_project_asset_path(@project) do %>
              <%= image_tag "add_new_project.png", class: "add" %>
            <% end %>
            <p class="title">&nbsp;</p>
            <p class="upload-btn"><%= link_to "Upload New File", new_project_asset_path(@project), class: "btn btn-primary btn-lg btn-block" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


